body {
	margin: 0;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	word-break: break-word;
	background-color: #002811;
	color: #307e49;
}

.sidenav {
	height: 100%;
	width: 230px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #021d06;
	overflow-x: hidden;
	padding-top: 20px;

}

.sidenav a {
	padding: 6px 16px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.main {
	margin-left: 230px; /* Same as the width of the sidenav */
	font-size: 28px;
	padding: 0% 30% 15% 5%;
	line-height: 1.4;
}

img {
	width: 100%;
}